{% assign languages = site.data.language_data.languages %}
{% assign sidebar = site.data.sidebar_data.sidebar %}

{% if languages %}

    {% if sidebar.enable_languages %}
    <div class="languages-container container-block">
    
      <h2 class="container-block-title">
        Languages
      </h2>
    
      <ul class="list-unstyled interests-list">
        {%for language in languages.spoken-languages %}
        <li>
          {{ language.idiom }}
          <span class="lang-desc">({{ language.level }})</span>
        </li>
        {% endfor %}
      </ul>
    
    </div><!--//languages-->
    {% endif %}
    
{% endif %}
